#page-landing {
    background-color: rgb(33, 33, 34);
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#home {
    width: 50%;
    margin: 0 auto;
    display: table;
    text-align: center;
    
}

#about-me{
    display:flex;
    flex-direction: column-reverse;
    text-align: center;
}

#MySkills{
    box-sizing:border-box;
    text-align: center;
}

#sidebar ul {
    display: inline-block;
    height: 60%;
    width: 58px;
    position: fixed;
    top: 20%; 
    left: 0;
    overflow: hidden;
    background-color: #FF3366;
    border-radius: 0 25px 25px 0;
    overflow-x: hidden;
    padding-top: 20px;

    list-style-type: none;
    padding: 0;
}

#sidebar img{
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10%;
    width: 65%;
    height: auto;
}

.social{
    display: inline-block;
    position: relative;
    width: 100%;
    height:200px;
}


.mediasocial{
    float: left;
    margin: 10px 0 0 5rem;
}
.mediasocial img{
    padding: 0px 5px;
    filter: brightness(255);
    /* fill: white; */
}

.mediasocial a{
    outline: 0;
    border: none;
    color: transparent;
}

.lamp{
    float: right;
    margin-right:0;
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.title{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 89px;
    width: 400px;
    color: #DDDFE2;
    
    margin: auto;
    margin-bottom: -35px;
    margin-top: -50px;
}

.title h4 {
    font-size: 1.5rem;
    margin-bottom: 0px;
} 

.title h4 span{
    color: #2EC4B6;
}

.title p{
    margin-top: -35px;
}

.download{
    display: flex;
    justify-content: center;
    height: 4.4rem;
    width: 16rem;
    border-radius: 0.8rem;
   
    margin-top: 0;
    margin-right: 1.6rem;
    margin: 0 auto;
    background-color:#2EC4B6;

    transition: background 0.2s;
}

.download a{
    font: 700 1.3rem Comfortaa;

    display: flex;
    align-items: center;
    justify-content:center;

    text-decoration: none;
    color:#F6F7F8;

    transition: background 0.2s;
}

.image img{
    width: 28rem;
    margin-top: 3rem;
    
}

.one{
    height: 9px;
    width:70%; 
    margin: 2.7rem auto;

    border-style: none;
    background: #535353;
    border-radius: 50px;
}

.two{
    height: 9px;
    width:70%; 
    margin: 2.7rem auto;

    border-style: none;
    background: #535353;
    border-radius: 50px;
}

.text h1{
    font-family: Comfortaa;
    font-style: normal; 
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #DDDFE2;

    line-height: 89px;
    width: 50%;
    margin: 0 auto;
}

.text h1 span {
    color:#2EC4B6;
}

.text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 37px;
    text-align: left;

    color: #DDDFE2;
    width: 75%;
    margin: 0 auto;
}

.image-am img{
    width: 23.5rem;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.titlems{
    font-family: Comfortaa;
    font-style: normal; 
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #DDDFE2;
    
    line-height: 89px;
    width: 50%;
    margin: 0 auto;
}

.titlems span{
    color:#2EC4B6;
}

.ability{
    width: 68%;
    margin: 0 auto;
}

.ability p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    text-align: left;

    color: #DDDFE2;
}
.container{
    width: 100%;
    height: 22px;
    background-color: rgba(90, 106, 119, 1);
    border-radius: 50px;

    position: relative;
}

.html{
    position: absolute;
    width: 162px;
    height: 70%;
    top: 15%;
    left: 5px;
    border-radius: 50px;

    background-color: #2EC4B6;
}

.css{
    position: absolute;
    width: 162px;
    height: 70%;
    top: 15%;
    left: 5px;
    border-radius: 50px;
     
    background-color: #2EC4B6;
}

.js{
    position: absolute;
    width: 58px;
    height: 70%;
    top: 15%;
    left: 5px;
    border-radius: 50px;
     
    background-color: #2EC4B6;
}

.c{
    position: absolute;
    width: 207px;
    height: 70%;
    top: 15%;
    left: 5px;
    border-radius: 50px;
     
    background-color: #2EC4B6;
}

#MySkills img{
    width: 30rem;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 1150px){
    #page-landing {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    #home {
        display: flex;
        width:85%;
        flex-direction: row;

        text-align: left;
        margin-top: 0;
    }

    #about-me{
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
        vertical-align: middle;
        height: 830px;
    }

    #MySkills{
        display: flex;
        flex-direction: row;
        margin-top: 12rem;
        margin-bottom: 8rem;
    }

    .social .mediasocial{
        padding: 2rem;

    }

    .mediasocial img{
        width: 50px;
        height: auto;
        padding-left: 2rem;
    }

    .social .lamp{
        margin-right: 100px;
    }

    .first{
        height: 100%;
        width: 100%;
        margin-right: 5rem;
    }

    .title{
        margin-left: 4rem;
        margin-top: 0%;

        font-size: 5.6rem;
        display: space-between;
    }

    .title h4{
        width:450px;
        margin-bottom: 1.3rem;
        margin-top:0;

        font-size: 1.8rem;
    }

    .title p{
        font-size: 5rem;
    }

    .download{
        position: relative;
        margin-left: 5rem;
    }

    .image{
        margin-left: 2rem;
    }

    .image img{
        width: 580px;
        height: auto;
    }

    .one{
        position: absolute;
        width: 999px;
        height: 9px;
        left: 15%;
        right: 15%;
        top: 745px;
        margin-top: -50px;

    
        border-style: none;
        background: #585858;
        border-radius: 50px;
    }

    .text{
        width: 50%;
        margin: auto 50px;
    }

    .text h1{
        font-size: 3rem;
        text-align: left;
        margin-left: 0;
        margin-top: 6rem;
    }

    .text p{
        margin-left: 0;
        text-align: left;
        width: 80%;
    }

    .image-am{        
        height: 50%;
 
        margin: auto 0;
    }

    .image-am img{
        margin-left: 10rem;
        margin-right: 2rem;
        height: 23rem;
        width: auto;
    }

    .two{
        position: absolute;
        width: 999px;
        height: 9px;
        left: 220px;
        top: 1490px;
        border:none;

        background: #585858;
        border-radius: 50px;
    }

    .firsthalf{
        width: 460px;
        height: 100%;
        margin-left:13rem;
    }

    .titlems{
        font-size: 3rem;
        text-align:left;
        margin-left:0;
    }

    .ability{
        margin-left: 0;
        width: 100%;
    }

    #MySkills img{
        height: 23rem;
        width: auto;

        margin-left: 6rem;
        margin-top: 0;
    }
}